<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<property resource="orange_api.properties" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level [%logger{20}] %L - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${project.base}${log.base}orange_news_fetch.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${project.base}${log.base}dup.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{50} %L - %msg%n</pattern>
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="FILE" />
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
